.groupCreate {
    background: url("../Images/27402379_10.svg") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

#createTitle {
    margin-left: 38vw;
}

.groupDiv {
    width: 35vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32vw;
    margin-top: 5vw;
    backdrop-filter: blur(0.5vw);
    box-shadow: 0vw 0.3vw 1vw rgba(0, 0, 0, 0.3);
}

.innerGroupCreate {
    width: 35vw;
    margin-left: 5vw;
}

#createGButton {
    margin-left: 9vw;
    width: 8vw;
}