.outerCreate {
    background: url("../Images/27402379_10.svg") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

#createTitle {
    margin-left: 38vw;
}

.createDiv {
    width: 50vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25vw;
    margin-top: 5vw;
    backdrop-filter: blur(0.5vw);
    box-shadow: 0vw 0.3vw 1vw rgba(0, 0, 0, 0.3);
}

.innerCreate {
    width: 40vw;
    margin-left: 9vw;
}

#createButton {
    margin-left: 13vw;
    width: 8vw;
}