.outer {
  margin-top: -3vw;
  background: url("../Images/27402379_10.svg") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 74vw;
  height: 40vw;
  background-image: url(https://img.freepik.com/free-vector/business-people-meditating-illustration_23-2149000615.jpg);
  box-shadow: 0vw 0.5vw 7vw rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: 55%;
  backdrop-filter: blur(2vw);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title {
  font-family: MS Gothic;
  color: #000d4d;
  font-weight: bolder;
  font-size: 4vw;
  margin-right: 2vw;
}

#paragraph {
  font-family: SimSun;
  font-size: 1vw;
}

.text {
  margin-top: 7vw;
}

.last {
  margin-right: 9vw;
  margin-top: 3vw;
}

#button {
  margin-right: 12.5vw;
  margin-top: 2vw;
  font-family: SimSun;
  font-size: 1.7vw;
}
