/* LoginView css */

#title {
  margin-left: 38vw;
}

#incorrectC {
  margin-left: 38vw;
  color: red;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

#botBanner {
  background-color: rgb(182, 117, 243);
}