.parentDiv {
    display: flex;
}

.sideBar {
    width: 20vw;
    height: 45.5vw;
    max-height: 100vh;
    padding-top: 2vw;
    position: fixed;
    position: absolute;
}

.name {
    margin-left: 2vw;
    display: flex;
    align-items: center;
}

h4, h5 {
    color:blue;
    font-size: 1.5vw;
}

h6 {
    font-size: 1vw;
}

#svg {
    margin-right: 0.5vw;
}

.sideDiv {
    margin-left: 3vw;
    margin-top: 2.6vw;
    font-size: 1.5vw;
    color: rgb(114, 111, 107);
}

#discTitle {
    color: blue;
}

ul {
    list-style-type: none;
    padding: 0; 
  }

ul li {
    padding-left: 1vw;
    position: relative;
}

.middleBar {
    background-color: rgb(221, 221, 221);
    width: 80vw;
    min-height: 45.5vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20vw; 
}

.inputDiv {
    width: 80vw;
}

#inGroup {
    width: 80vw;
    margin-top: 0.5vw;
}

#inputGroup {
    width: 60vw;
    height: 2vw;
    margin-left: 9vw;
}

.cardDiv {
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start;
    margin-left: 3vw;
    margin-top: 2vw;
}

#card1 {
    width: 17vw;
    min-height: 30vw;
    height: auto;
    margin-right: 2vw;
    margin-bottom: 2vw; 
}

#checkBtn {
    font-size: 1vw;
}

.btnDiv {
    display: flex;
    align-items: center;
}