.backgroundDiv {
    margin-top: -3vw;
    background: url("../Images/27402379_10.svg") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.innerDiv {
    width: 20vw;
    height: 10vw;
    margin-top: 10vw;
 
}

#resetTitle {
    margin-top: -15vw;
  
}

