.App {
  font-family: sans-serif;
  text-align: center;
}

/* Navigation bar */

#nav {
 background-color: rgb(19, 19, 250);
} 

#btn {
  margin-left: 0.5vw;
  font-size: 0.85vw;
}

#loginBtn {
  margin-left: 58vw;
  width: 6vw;
  font-size: 0.85vw;
}

.login {
  width: 30vw;
  margin-left: 45vw;
  margin-top: 10vw;
}


